:root {
	font-family: 'Josefin Slab', serif;

	--color: hsl(275, 30%, 50%);
	--titleColor: hsl(275, 30%, 35%);
	--textColor: hsl(275, 30%, 15%);
	--lightColor: hsl(275, 30%, 90%);
	--secondaryColor: #1ea152;
	--containerWidth: 800px;
}
* {
	box-sizing: border-box;
}

/* amatic-sc-regular - latin */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/amatic-sc-v16-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/amatic-sc-v16-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-slab-regular - latin */
@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 400;

	src: local(''), url('/fonts/josefin-slab-v13-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/josefin-slab-v13-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-slab-600 - latin */
@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('/fonts/josefin-slab-v13-latin-600.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/josefin-slab-v13-latin-600.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (min-width: 600px) {
	body,
	html {
		font-size: 1.15rem;
	}
}

body,
html {
	margin: 0;
	color: var(--textColor);
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'Amatic SC';
	color: var(--titleColor);
	font-weight: 600;
}

h1 {
	text-align: center;
}

a {
	color: var(--color);
	font-weight: 600;
}
a:hover {
	opacity: 0.9;
}

table {
	border-spacing: 0;
}
table td,
table th {
	padding: 0.4rem 0.6rem;
	border-bottom: 1px solid var(--lightColor);
	border-right: 1px solid var(--lightColor);
}

@media (min-width: 600px) {
	.colonnes {
		display: flex;
		margin: 0 -0.5rem;
	}

	.colonnes > * {
		flex: 1;
		margin: 0 0.5rem;
	}
}
blockquote:empty + p > a,
.button {
	opacity: 1;
	box-shadow: inset 0px -15px 0 0px var(--lightColor);
	padding: 0.2rem 0.4rem;
	text-decoration: none;
	transition: all 0.1s;
	will-change: auto;
}

blockquote:empty + p:not(:first-of-type) > a {
	/* Align left */
	display: inline-block;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
}
blockquote:empty + p > a:hover,
.button:hover {
	border-radius: 0.1rem;
	box-shadow: inset 0 -35px 0px 0px var(--color);

	color: white;
}
blockquote:empty + p > a:active,
.button:active {
	transform: translateX(-100%) translateY(2px);
}

iframe {
	border: none;
	border-radius: 0.3rem;
}
